@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*,
*::before,
*::after {
        padding: 0;
        margin: 0;
        border: none;
        outline: none;
        box-sizing: border-box;
}

:root {
        --flex-gap-body: 0.75em;
        --flex-gap-btn: 0.5em;

        --padding-body: 1em;
        --padding-btn: 0.75em 1em;
        --padding-modal: 2em;
        --padding-list: 0 0 0 2em;

        --border-btn: 2px solid #f1f1f1;
        --border-btn-active: 2px solid #96a921;
        --border-modal: 2px solid #f1f1f1;
        --border-gameboard: 2px solid #f1f1f1;
        --border-gameboard-win: 2px solid var(--color-win);
        --border-gameboard-loss: 2px solid var(--color-loss);
        --border-gameboard-paused: 2px solid var(--color-paused);
        --border-snake: 0.25vmin solid #f1f1f1;
        --border-food: 0.25vmin solid #f1f1f1;

        --margin-btn: 0.75em auto;
        --margin-hr: 0.5em auto;
        --margin-modal: 0 auto;
        --margin-list: 0 auto;
        --margin-li: 1em 0;
        
        --font-size-h1: 3rem;
        --font-size-h2: 1.25rem;
        --font-size-btn: 1.25rem;
        --font-size-text: 1.25rem;

        --font-family-global: "VT323", monospace;

        --color-text: #f1f1f1;
        --color-scores: #96a921;
        --color-win: #1ee740;
        --color-loss: #e71e40;
        --color-paused: #ebc55d;

        --bg-color-global: #1f1f1f;
        --bg-color-snake: #96a921;
        --bg-color-food: #77303a;
        --bg-color-instructionsbtn: #154063;
        --bg-color-playbtn: #043a0d;
        --bg-color-restartbtn: #631520;
        --bg-color-pausebtn: #806313;
}

body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--flex-gap-body);
        min-height: 100svh;
        padding: var(--padding-body);
        font-family: var(--font-family-global);
        color: var(--color-text);
        background-color: var(--bg-color-global);
}

button {
        padding: var(--padding-btn);
        border: var(--border-btn);
        font-size: var(--font-size-btn);
        font-family: inherit;
        cursor: pointer;
        transition: all 0.4s ease;
        color: inherit;
}

button:focus:not(.btn-disabled) {
        border: var(--border-btn-active);
}

.btn-disabled {
        opacity: 0.5;
        cursor: not-allowed;
}

hr {
        width: 75%;
        height: 0.1rem;
        margin: var(--margin-hr);
        background-color: var(--color-text);
}

@media (max-width: 500px) {
        :root {
                --font-size-h1: 2rem;
                --font-size-h2: 1.125rem;
                --font-size-btn: 1.125rem;
                --font-size-text: 1.125rem;
        }
}

@media (max-width: 400px) {
        :root {
                --font-size-h1: 1.75rem;
                --font-size-h2: 1rem;
                --font-size-btn: 1rem;
                --font-size-text: 1rem;
        }
}