@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*,
*::before,
*::after {
        padding: 0;
        margin: 0;
        border: none;
        outline: none;
        box-sizing: border-box;
}

:root {
        --flex-gap-body: 0.75em;
        --flex-gap-btn: 0.5em;

        --padding-body: 1em;
        --padding-btn: 0.75em 1em;

        --border-btn: 2px solid #f1f1f1;
        --border-gameboard: 2px solid #f1f1f1;
        --border-gameboard-win: 2px solid var(--color-win);
        --border-gameboard-loss: 2px solid var(--color-loss);
        --border-gameboard-paused: 2px solid var(--color-paused);
        --border-snake: 0.25vmin solid #f1f1f1;
        --border-food: 0.25vmin solid #f1f1f1;

        --margin-btn: 0.75em auto;
        
        --font-size-h1: 3rem;
        --font-size-h2: 1.25rem;
        --font-size-btn: 1.25rem;
        --font-size-text: 1.25rem;

        --font-family-global: "VT323", monospace;

        --color-text: #f1f1f1;
        --color-scores: #96a921;
        --color-win: #1ee740;
        --color-loss: #e71e40;
        --color-paused: #ebc55d;

        --bg-color-global: #1f1f1f;
        --bg-color-snake: #96a921;
        --bg-color-food: #77303a;
        --bg-color-instructionsbtn: #154063;
        --bg-color-playbtn: #043a0d;
        --bg-color-restartbtn: #631520;
        --bg-color-pausebtn: #806313;
}

body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--flex-gap-body);
        min-height: 100svh;
        padding: var(--padding-body);
        font-family: var(--font-family-global);
        color: var(--color-text);
        background-color: var(--bg-color-global);
}

button {
        padding: var(--padding-btn);
        border: var(--border-btn);
        font-size: var(--font-size-btn);
        font-family: inherit;
        transition: all 0.4s ease;
        cursor: pointer;
        color: inherit;
}

.header,
.footer,
.gameboard {
        width: 75%;
        max-width: 750px;
        text-align: center;
}

.gameboard {
        display: grid;
        grid-template-columns: repeat(21, 1fr);
        grid-template-rows: repeat(21, 1fr);
        aspect-ratio: 1 / 1;
        max-height: calc(100svh - 500px);
        border: var(--border-gameboard);
}

@media (max-height: 650px) {
        .gameboard {
                max-height: 50svh;
        }
}

.gameboard-win {
        border: var(--border-gameboard-win);
}

.gameboard-loss {
        border: var(--border-gameboard-loss);
}

.gameboard-paused {
        border: var(--border-gameboard-paused);
}

.gameboard-snake {
        border: var(--border-snake);
        background-color: var(--bg-color-snake);
}

.gameboard-food {
        border: var(--border-food);
        background-color: var(--bg-color-food);
}

.header-title {
        font-size: var(--font-size-h1);
}

.header-subtitle {
        font-size: var(--font-size-h2);
}

.header-instructionsbtn,
.footer-playbtn {
        min-width: 100%;
        margin: var(--margin-btn);
}

.header-instructionsbtn {
        background-color: var(--bg-color-instructionsbtn);
}

.footer-playbtn {
        background-color: var(--bg-color-playbtn);
}

.btn-disabled {
        opacity: 0.5;
        cursor: not-allowed;
}

.header-score,
.header-message {
        font-size: var(--font-size-text);
}

.header-message-win {
        color: var(--color-win);
}

.header-message-loss {
        color: var(--color-loss);
}

.header-message-paused {
        color: var(--color-paused);
}

.header-score {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 0.25em;
}

.score-container,
.highestscore-container {
        color: var(--color-scores);
}

.footer-restartpause {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: var(--flex-gap-btn);
}

.footer-restartbtn,
.footer-pausebtn {
        display: block;
        min-width: calc(50% - var(--flex-gap-btn));
}

.footer-restartbtn {
        background-color: var(--bg-color-restartbtn);
}

.footer-pausebtn {
        background-color: var(--bg-color-pausebtn);
}

@media (max-width: 500px) {
        :root {
                --font-size-h1: 2rem;
                --font-size-h2: 1.125rem;
                --font-size-btn: 1.125rem;
                --font-size-text: 1.125rem;
        }
}

@media (max-width: 400px) {
        :root {
                --font-size-h1: 1.75rem;
                --font-size-h2: 1rem;
                --font-size-btn: 1rem;
                --font-size-text: 1rem;
        }
}